<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify Subscriptions</title>
    <style>
    body {
      background-color: #222;
      color: white;
      font-family: monospace;
      font-size: 14pt;
    }

    #copyToken {
      background-color: #444;
    }

    button, input {
      border: 2px solid white;
      color: white;
      font-size: 14pt;
    }

    button {
      background-color: orange;
    }

    a {
      color: green;
    }

    .errorBox {
      background-color: #FAA;
      border: 2px solid white;
      padding: 10px;
    }
    </style>
  </head>
  <body>

    {{{body}}}

  </body>
</html>
